@page "{customerId:int}"
@model CustomerCardModel
@{
    ViewData["Title"] = "Customer Card";
}
<head>
    <link href="~/assets/css/CustomerCard.css" rel="stylesheet" type="text/css" />
</head>

<section id="customer" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h3>@Model.Customer.Name</h3>
            <p id="customer-info">Customer profile</p>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                
                <p>@Model.Customer.Age years old</p>
                <p>@Model.Customer.Birthday.ToShortDateString()</p>
                <p>@Model.Customer.Gender</p>
                <p>@Model.Customer.TelephoneNumber</p>
                <p>@Model.Customer.NationalId</p>
                <p>@Model.Customer.StreetAddress, @Model.Customer.ZipCode, @Model.Customer.City</p>
                <p>@Model.Customer.Country</p>
            </div>

            <div class="col-lg-6">
                <h3>Accounts</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Account ID</th>
                            <th>Balance</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var account in Model.Customer.Accounts)
                        {
                            <tr>
                                <td>@account.Id</td>
                                <td>@account.Balance.ToString("C")</td>
                                <td>
                                    <a asp-page="/Accounts/Transactions" asp-route-customerId="@Model.CustmerId" asp-route-accountId="@account.Id" title="Show account transactions">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    <a asp-page="/Accounts/Deposit" asp-route-customerId="@Model.CustmerId" asp-route-accountId="@account.Id" title="Make a deposit">
                                        <i class="fas fa-plus-square"></i>
                                    </a>
                                    <a asp-page="/Accounts/Withdrawal" asp-route-customerId="@Model.CustmerId" asp-route-accountId="@account.Id" title="Make a withdrawal">
                                        <i class="fas fa-minus-square"></i>
                                    </a>
                                    <a asp-page="/Accounts/Transfer" asp-route-customerId="@Model.CustmerId" asp-route-accountId="@account.Id" title="Make a transfer">
                                        <i class="fas fa-exchange-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3>Total Account Value</h3>
                <p>@Model.Customer.TotalAccountValue.ToString("C")</p>
            </div>
        </div>
    </div>
</section>
