@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="header">
    <div class="banner">
        <div class="banner-inner">
            <div class="banner-text">
                <h1>Welcome To The ManDem Bank</h1>
                <h2 style="color:white">Bank For The Mandem Around The World</h2>
            </div>
        </div>
    </div>
</header>

<div class="loading">
    <div class="loading-icon"></div>
</div>

<main class="main">
    <section class="popular">
        <div class="popular-inner">
            <h2>Top Banking Countries</h2>
            <div class="popular-items">
                @foreach (var country in Model.ViewModels.Keys)
                {
                    var viewModel = Model.ViewModels[country];

                    <div class="item">
                        <a href="/Countries/TopTen?countryId=@country">
                            <img src="assets/images/@country-flag-png-large.png" alt="Flag of @country">
                            <span>View top 10 Accounts in @country</span>
                        </a>
                        <div class="country-stats">
                            <p>Clients: @viewModel.NumberOfClients</p>
                            <p>Accounts: @viewModel.NumberOfAccounts</p>
                            <p>Capital: @string.Format("{0:n0}", viewModel.TotalAccountValue) kr</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>

<script>
    // Show loading
    document.querySelector('.loading').style.display = 'flex';

    // Hide loading
    window.addEventListener('load', function () {
        document.querySelector('.loading').style.display = 'none';
    });
</script>


